.fl {
  float: left;
}
.fr {
  float: right;
}
.dropdown .detail-dropdown-dd {
  display: none;
}
.detail-dropdown:hover .detail-dropdown-dd {
  display: block;
}
.crumb-wrap {
  margin: 25px 0 10px 0;
  font-size: 12px;
  color: #333;
}
.crumb-wrap span {
  margin: 0 20px;
}
.product-pic-wrap {
  float: left;
  width: 400px;
  height: 560px;
  margin-right: 80px;
}
.product-pic {
  height: 400px;
  border: 1px solid #ededed;
}
.product-pic img {
  display: block;
  margin: 35px auto;
}
.more-pics {
  margin-top: 65px;
}
.pic-list li {
  float: left;
  padding: 0 15px;
}
.pic-list li:first-child a,
.pic-list li:last-child a {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 16px;
  border-top: 3px solid #ededed;
  border-left: 3px solid #ededed;
}
.pic-list li:first-child a {
  transform: rotate(-45deg);
}

.pic-list li:last-child a {
  transform: rotate(135deg);
}
.pic-description {
  margin-top: 25px;
}
.pic-description li {
  float: left;
  margin-right: 23px;
}
.pic-description li:nth-child(2) a::before {
  content: "\ea82";
  font-family: "icomoon";
  color: #d54f58;
  margin-right: 10px;
}
.pic-description li:nth-child(3) a::before {
  content: "\e9da";
  font-family: "icomoon";
  color: #d54f58;
  margin-right: 10px;
}
.pic-description li:nth-child(4) a input {
  vertical-align: middle;
  margin-right: 5px;
}
.shopping-choices-product-name {
  font-size: 16px;
  color: #333;
  font-weight: 700;
}
.news {
  margin: 17px 0 20px 0;
  font-size: 12px;
  color: #e12228;
}
.price {
  width: 719px;
  background-color: #fee9eb;
}
.shopping-choices-title {
  display: inline-block;
  width: 48px;
  margin-left: 10px;
  margin-right: 15px;
  text-align: justify;
  text-align-last: justify;
}
.price span:nth-child(2) {
  font-size: 16px;
  color: #e12228;
}
.price span:nth-child(3) {
  font-size: 24px;
  color: #e12228;
  margin-right: 5px;
}
.price a:nth-child(4) {
  font-size: 12px;
  color: #c81623;
}
.price span:nth-child(5) {
  margin-left: 420px;
  font-size: 12px;
  color: #c81623;
}
.price a:nth-child(6) {
  font-size: 12px;
  color: #1474af;
}
.promotion {
  width: 719px;
  height: 70px;
  padding-top: 10px;
  background-color: #fee9eb;
}
.promotion span:nth-child(2) {
  float: right;
  margin-right: 85px;
  width: 557px;
}
.promotion span:nth-child(2) span {
  margin-right: 5px;
  background-color: #c81623;
  color: #fff;
  font-size: 14px;
}
.support-services {
  margin: 15px 0 20px 0;
}
.support-services span:last-child {
  margin-left: 4px;
  font-size: 12px;
  color: #999;
}
.delivery {
  height: 55px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 15px;
}
.delivery-detail {
  float: right;
  margin-right: 223px;
  font-size: 12px;
  color: #999;
}
.delivery-detail div:first-child {
  margin-bottom: 8px;
}
.delivery-detail a {
  font-size: 12px;
  color: #999;
}
.delivery-detail i {
  font-family: "icomoon";
}
.color-choices > span {
  float: left;
  margin-top: 11px;
}
.color-choices ul {
  float: left;
  height: 43px;
  margin-bottom: 8px;
}
.choice-box ul li {
  float: left;
  margin-right: 8px;
}
.choice-box ul li a {
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #ededed;
  text-align: center;
  font-size: 12px;
  color: #333;
}
.choice-box ul li a:hover {
  border-color: #c81623;
}
.color-choices ul li a {
  width: 83px;
  height: 42px;
  line-height: 42px;
}
.version-choices > span,
.memory-choices > span,
.purchase-choices > span,
.set-choices > span {
  float: left;
  margin-top: 7px;
}
.version-choices ul li a,
.memory-choices ul li a,
.purchase-choices ul li a,
.set-choices ul li a {
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
}
.memory-choices,
.set-choices {
  margin: 8px 0;
}
.set-choices {
  height: 50px;
  border-bottom: 1px solid #ededed;
}
.choice-btns {
  width: 205px;
  height: 48px;
}
.count-area {
  position: relative;
  float: left;
  width: 50px;
  height: 100%;
  border: 1px solid #ededed;
  margin-right: 10px;
}
.count-area input {
  width: 35px;
  height: 100%;
  text-align: center;
}
.count-area a {
  float: right;
  width: 13px;
  height: 24px;
  background-color: #f7f7f7;
  border-left: 1px solid #ededed;
  text-align: center;
}
.count-area a:last-child {
  position: absolute;
  top: 22px;
  border-top: 1px solid #ededed;
}
.choice-btns > a {
  float: left;
  width: 145px;
  height: 100%;
  background-color: #c81623;
  color: #fff;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
}
.product-detail-area {
  margin-top: 30px;
}
.more-products-aside-wrap {
  width: 210px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #333;
}
.more-products-categories {
  margin-bottom: 10px;
}
.more-products-categories-tabs {
  position: relative;
  height: 35px;
  margin-bottom: 8px;
}
.more-products-categories-tabs::after {
  position: absolute;
  right: 50%;
  content: "";
  height: 35px;
  border-left: 1px solid #ddd;
}
.more-products-categories-tabs ul li {
  float: left;
  width: 50%;
}
.more-products-categories-tabs ul li a {
  display: block;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  line-height: 35px;
  text-align: center;
}
.more-products-categories-tabs .more-products-categories-tabs-active {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  color: #c81623;
  font-size: 12px;
}
.more-products-categories-list ul {
  width: 100%;
  padding: 0 10px;
}
.more-products-categories-list ul li {
  float: left;
  width: 50%;
  height: 30px;
  border-bottom: 1px dashed #ededed;
  padding-left: 8px;
  line-height: 30px;
}
.more-products-title {
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 14px;
}
.more-products ul {
  padding: 0 10px;
  overflow: hidden;
}
.more-products ul li {
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.more-products ul li h5 {
  margin: 15px 0;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.more-products ul li div {
  width: 100%;
  margin-bottom: 5px;
  padding-left: 10px;
  text-align: left;
  font-weight: 700;
}
.more-products ul li a {
  display: inline-block;
  width: 90px;
  height: 30px;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
}
.product-detail-wrap {
  width: 970px;
}
.fittings-wrap-hd {
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}
.fittings-wrap-hd > span {
  display: block;
  width: 87px;
  height: 100%;
  background-color: #c81623;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.fittings-wrap-bd {
  width: 969px;
  border: 1px solid #ddd;
}

.fittings-categories {
  height: 55px;
}
.fittings-categories li {
  float: left;
  height: 40px;
  margin-right: 6px;
  padding: 0 18px;
  line-height: 40px;
}
.fittings-products {
  position: relative;
  padding-left: 17px;
}
.fittings-products > i {
  position: absolute;
  top: 55px;
  left: 160px;
  font-family: "icomoon";
}
.master {
  width: 130px;
  height: 210px;
  text-align: center;
}
.master div {
  width: 130px;
  height: 130px;
  border: 1px solid #c81623;
}
.master div img {
  margin-top: 6px;
}
.master p {
  margin-top: 8px;
  font-size: 14px;
  color: #e12228;
}
.choose-fittings-products {
  width: 612px;
  height: 210px;
  margin-left: 36px;
}
.choose-fittings-products .btn a {
  position: absolute;
  display: block;
  width: 20px;
  height: 50px;
  top: 18%;
  padding: 0 5px;
  background-color: #ddd;
}
.choose-fittings-products .btn a::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}
.choose-fittings-products .btn a:first-child::before {
  transform: rotate(-45deg);
  margin-top: 19px;
}
.choose-fittings-products .btn a:last-child {
  right: 0;
}
.choose-fittings-products .btn a:last-child::before {
  transform: rotate(135deg);
  margin-top: 19px;
  margin-left: -3px;
}
.choose-fittings-products ul li {
  float: left;
  width: 153px;
  height: 210px;
}
.choose-fittings-products ul li div {
  width: 153px;
  height: 153px;
  text-align: center;
}
.choose-fittings-products ul li div img {
  margin-top: 22px;
}
.choose-fittings-products ul li p {
  width: 130px;
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #333;
}
.choose-fittings-products ul li input {
  margin-left: 13px;
  vertical-align: middle;
}
.choose-fittings-products ul li span {
  margin-left: 15px;
  font-size: 12px;
  color: #e12228;
}

.fittings-result {
  width: 172px;
  height: 265px;
  padding-top: 47px;
  padding-left: 17px;
  border-left: 1px solid #ddd;
}
.fittings-result p {
  font-weight: 700;
  margin-top: 20px;
}
.fittings-result span {
  font-size: 16px;
  color: #e12228;
}
.fittings-result strong {
  font-size: 24px;
  color: #e12228;
}
.fittings-result a {
  display: block;
  width: 140px;
  height: 45px;
  margin-top: 45px;
  background-color: #c81623;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.product-details {
  width: 970px;
  margin-top: 22px;
}
.product-detail-tabs {
  height: 40px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}
.product-detail-tabs ul li {
  float: left;
}
.product-detail-tabs ul li a {
  padding: 0 20px;
  font-size: 12px;
  color: #333;
  line-height: 40px;
}
.product-detail-tabs .product-detail-tabs-selected {
  display: block;
  margin: -1px 0 0 -1px;
  background-color: #c81623;
  color: #fff;
}
.product-detail-tab-content {
  margin-top: 25px;
}
.product-detail-tab-content-parameter-overview {
  margin-bottom: 15px;
  padding: 0 0 18px 22px;
  border-bottom: 1px solid #ddd;
}
.product-detail-tab-content-parameter-overview a {
  float: right;
  font-size: 12px;
  color: #333;
  font-weight: 700;
}
.product-detail-tab-content-parameter-overview a::after {
  content: "\e91e";
  margin-left: 5px;
  font-family: "icomoon";
}
.product-detail-tab-content-img1 {
  background-color: #fcfcfc;
  text-align: center;
}
.product-detail-tab-content-img2 {
  background-color: #f0f0f0;
  text-align: center;
}
.product-detail-tab-content-img3 {
  text-align: center;
}
