.checkout-title {
  font-size: 16px;
  color: #666;
}
.checkout-steps {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px 25px 0 25px;
}
.checkout-step-wrap {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.step-title {
  margin: 0 0 20px 27px;
  font-size: 14px;
  color: #333;
  font-weight: 700;
}
.step-title > a {
  float: right;
  font-size: 12px;
  color: #1474af;
}
.step-content {
  margin-left: 50px;
}
.address {
  height: 36px;
}
.address > div,
.pick-up-address > div {
  float: left;
}
.name a,
.pick-up-address-name {
  display: block;
  width: 145px;
  margin-right: 10px;
  border: 1px solid #ddd;
  line-height: 30px;
  text-align: center;
}
.address-selected a {
  border: 3px solid #c81623;
}
.address-detail {
  line-height: 36px;
  font-size: 12px;
  color: #666;
}
.more-addresses {
  margin-top: 20px;
}
.more-addresses em {
  font-family: "icomoon";
}
.payment {
  margin-left: 10px;
}
.payment li {
  float: left;
  height: 30px;
}
.payment li a {
  display: block;
  width: 90px;
  border: 1px solid #ddd;
  line-height: 30px;
  text-align: center;
}
.payment li:nth-child(2) a {
  border-left: none;
}
.payment li:nth-child(3) a {
  margin-left: 10px;
}
.payment li:nth-child(4) a {
  border: none;
  line-height: 32px;
}
.payment .payment-selected {
  border: 3px solid #c81623;
  line-height: 26px;
}
.delivery-method {
  height: 105px;
  background-color: #f4f4f4;
}
.checkout-product-list {
  height: 160px;
  background-color: #feedef;
}
.step-content-order-detail > div {
  padding-top: 20px;
}
.step-content-order-detail-title {
  margin: 0 0 20px 25px;
  font-size: 12px;
  font-weight: 700;
}
.delivery-method-detail ul {
  margin-left: 45px;
}
.delivery-method-detail ul li {
  float: left;
  height: 30px;
  line-height: 30px;
}
.delivery-method-detail ul li:first-child {
  width: 145px;
  margin-right: 50px;
  border: 3px solid #c81623;
  text-align: center;
  line-height: 24px;
}
.delivery-method-detail ul li:last-child {
  float: right;
  margin-right: 35px;
}
.delivery-method-detail ul li:last-child a {
  color: #1474af;
}
.checkout-products {
  margin-left: 45px;
}
.checkout-product img {
  float: left;
  width: 82px;
  height: 82px;
  margin-right: 110px;
}
.checkout-product > div {
  float: left;
  width: 335px;
}
.checkout-product div span {
  display: block;
  margin-top: 25px;
  color: #c81623;
}
.checkout-product > span {
  float: left;
}
.checkout-product > span:nth-child(3) {
  width: 115px;
  margin-left: 320px;
  font-size: 14px;
  color: #e12228;
}
.checkout-product > span:nth-child(4) {
  width: 90px;
}
.checkout-step-invoice-coupon {
  padding: 20px 0;
}
.invoice span {
  margin-right: 30px;
}
.invoice a {
  color: #1474af;
}
.coupon {
  margin: 20px 0 0 27px;
  font-size: 14px;
  color: #333;
  font-weight: 700;
}
.coupon a {
  font-family: "icomoon";
  vertical-align: middle;
  font-weight: 400;
}
.order-summary {
  height: 95px;
  margin-bottom: 10px;
}
.order-summary > div {
  float: right;
  margin-top: 25px;
}
.order-summary span {
  float: right;
  margin-bottom: 5px;
  text-align: right;
}
.order-summary > div > div > span:first-child {
  width: 130px;
  margin-right: 35px;
}
.order-summary-goods-price span em,
.shipping {
  color: #e12228;
}
.total-price-address {
  height: 70px;
  padding-right: 35px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  text-align: right;
}
.total-price-address div:first-child {
  margin-top: 10px;
}
.total-price-address div:first-child span:last-child {
  display: inline-block;
  width: 128px;
  font-size: 16px;
  color: #e12228;
  font-weight: 700;
}
.total-price-address div:last-child {
  margin-top: 5px;
  color: #999;
}
.submit-btn {
  height: 45px;
  margin-top: 20px;
}
.submit-btn button {
  float: right;
  width: 140px;
  height: 50px;
  margin-right: 35px;
  background-color: #e12228;
  color: #fff;
  font-size: 18px;
}
